@import "../bootstrap/css/bootstrap.css";

body {
    background-color: #222222;
}

.error-text {
    font-family: serif;
    font-size: 15px;
    color: red;
}

.navbar-inverse .navbar-brand {
    color: #398439;
}

.navbar-inverse {
    background-color: #122b40;
    border-color: #f9f9f9;
    border-width: 5px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #f9f9f9;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: red;
}

.head-inf {
    margin-top: 3%;
    font-family: serif;
    font-size: 35px;
    color: #2e6da4;
    text-align: center;
    margin-bottom: 5%;
}

.user-text {
    font-family: serif;
    font-size: 35px;
    color: #a0a9d8;
    line-height: 50px;
}

.thead-text {
    font-family: serif;
    font-size: 20px;
    color: #a0a9d8;
    line-height: 50px;
}

.user-inf {
    font-family: serif;
    font-size: 25px;
    color: #2e6da4;
    line-height: 50px;
}

.account-inf {
    font-family: serif;
    font-size: 35px;
    color: #2e6da4;
    border-bottom: #e5e5e5 5px solid;
    text-align: center;
}

.navbar-form .form-control {
    width: 160px;
}

.error-search {
    font-family: serif;
    font-size: 35px;
    color: red;
    text-align: center;
}

.error-login {
    color: #c12e2a;
    text-align: center
}

.full-height {
    height: 100%;
}

.footer-text {
    color: white;
    font-family: serif;
}

.margin-top10 {
    margin-top: 10%;
}

.margin-top5 {
    margin-top: 5%;
}

.form-control {
    color: #555;
    background: #fff none;
    border: 2px solid #398439;
    border-radius: 10px;
    font-family: serif;
}