@import "../bootstrap/css/bootstrap.css";
@import "../select2/css/select2.css";

body {
    background-color: #122b40;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #398439;
    color: white; }

.error-text {
    font-family: serif;
    font-size: 15px;
    color: red;
}

.error-text-trans {
    font-family: serif;
    font-size: 30px;
    color: red;
    text-align: center;
}

.navbar-inverse .navbar-brand {
    color: #449d44;
}

.navbar-inverse {
    background-color: #122b40;
    border-color: #f9f9f9;
    border-width: 7px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #f9f9f9;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: red;
}

.head-inf {
    font-family: serif;
    font-size: 55px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 2%;
}

.head-history-inf {
    font-family: serif;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    border-bottom: 5px solid #398439;
}

.head-color-green{
    background-color: #398439;
}

.head-users-accounts {
    border-bottom: 5px solid #398439;
    text-align: center;
    font-family: serif;
    font-size: 35px;
    color: #ffffff;
    line-height: 50px;
}

.head-users {
    border-bottom: 5px solid #398439;
    text-align: center;
    font-family: serif;
    font-size: 20px;
    color: #ffffff;
    line-height: 50px;
}

.user-text {
    font-family: serif;
    font-size: 35px;
    color: #a0a9d8;
    line-height: 50px;
}

.user-acc-text {
    font-family: serif;
    font-size: 15px;
    color: #4cae4c;
    line-height: 50px;
}


.thead-text {
    font-family: serif;
    font-size: 20px;
    color: #a0a9d8;
    line-height: 50px;
}

.button-actions-text {
    font-family: serif;
    font-size: 15px;
    color: #000000;
    font-weight: bold;
}

.user-inf {
    font-family: serif;
    font-size: 25px;
    color: #ffffff;
    line-height: 50px;
    text-align: center;
}

.account-inf {
    font-family: serif;
    font-size: 35px;
    color: #ffffff;
    border-bottom: #888888 5px solid;
    text-align: center;
    margin-top: 10px;
}

.account-radio {
    font-family: serif;
    font-size: 35px;
    color: #2e6da4;
    border-bottom: #888888 5px solid;
    text-align: center;
}

.navbar-form .form-control {
    width: 160px;
}

.error-search {
    font-family: serif;
    font-size: 35px;
    color: red;
    text-align: center;
}

.full-height {
    height: 90%;
}

.full-height-border {
    min-height: 86%;
    border: 1px solid #ffffff;
    border-bottom: none;
    border-top: none;
}

.footer-text {
    color: white;
    font-family: serif;
}

.margin-top10 {
    margin-top: 10%;
}

.margin-top5 {
    margin-top: 5%;
}

.form-control {
    color: #555;
    background: #fff none;
    border: 2px solid #398439;
    border-radius: 10px;
    font-family: serif;
}

.form-control-moresize{
    height: 50px;
    font-size: 30px;
}

.btn-transfer {
    margin-top: 5%;
    font-size: 25px;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
    display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
    position: relative;
    line-height: 2.5em;
    margin-top: 15px;
    margin-bottom: -55px;
    cursor: pointer;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    content: '';
    width: 2.5em;
    height: 2.5em;
    background: #ffffff;
    border-radius: 5px 5px 5px 5px;
}


.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
    color: #e5e5e5;
    background-color: #398439;
    content: '\2714';
    text-indent: .9em;
}

.delete-text{
    color: #2e6da4;
}

.service-button{
    height: 100px;
    font-size: 35px;
}

.dropdown-menu {

}

.menu-1{
    top: 100%;
    min-width: 390px;
    padding: 30px 0;
    margin: 100px 0 0;

    font-size: 45px;
    font-family: serif;

    text-align: center;
    background-color: #fff;
}

.menu-2{
    top: 100%;
    min-width: 390px;
    padding: 30px 0;
    margin: 100px 0 0;

    font-size: 45px;
    font-family: serif;

    text-align: center;
    background-color: #fff;
    margin: 100px 390px 0;
}

.menu-3{
    top: 100%;
    min-width: 390px;
    padding: 30px 0;
    margin: 100px 0 0;

    font-size: 45px;
    font-family: serif;

    text-align: center;
    background-color: #fff;
    margin: 100px 780px 0;
}

.lock-img{
    content: url("/resources/images/button/lock.png");
}

.unlock-img{
    content: url("/resources/images/button/unlock.png");
}
