<?xml  version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="by.jum.internetbanking"/>

    <mvc:annotation-driven/>
    <mvc:resources mapping="/resources/**" location="/resources/"/>

    <import resource="classpath:security-context.xml"/>
    <import resource="classpath:database.xml"/>

    <bean id="messageSource"
          class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>classpath:properties/messages</value>
                <value>classpath:properties/error</value>
                <value>classpath:properties/consolelog</value>
                <value>classpath:properties/title</value>
            </list>
        </property>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

    <bean id="localeResolver"
          class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
        <property name="defaultLocale" value="en"/>
    </bean>

    <mvc:interceptors>
        <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
            <property name="paramName" value="lang"/>
        </bean>
        <mvc:interceptor>
            <mvc:mapping path="/403error"/>
            <bean class="by.jum.internetbanking.util.AccessInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

    <bean id="conversionService"
          class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="by.jum.internetbanking.converter.account.AccountFormToAccountConverter"/>
                <bean class="by.jum.internetbanking.converter.account.AccountToDTOConverter"/>
                <bean class="by.jum.internetbanking.converter.account.DTOToAccountConverter"/>
                <bean class="by.jum.internetbanking.converter.user.FormToUserConverter"/>
                <bean class="by.jum.internetbanking.converter.user.UserDTOToUserConverter"/>
                <bean class="by.jum.internetbanking.converter.user.UserToDTOConverter"/>
                <bean class="by.jum.internetbanking.converter.history.TransactionFormToHistoryConverter"/>
                <bean class="by.jum.internetbanking.converter.history.HistoryToHistoryDTOConverter"/>
                <bean class="by.jum.internetbanking.converter.history.PaymentForServicesFormToHistoryConverter"/>
            </set>
        </property>
    </bean>
</beans>